<% now = Time.zone.now %>

<div class="page-heading">
	<h1>イベント一覧</h1>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			<% @events.each do |event| %>
				<%= link_to(event, class: 'list-group-item') do %>
					<div class="events">
						<div class="picture">
							<%= image_tag event.event_picture.url, :size => '60x60' if event.event_picture? %>
						</div>
					</div>
					<h4 class="list-groupt-item-heading">
						<%= event.name %>
					</h4>
					<p class="list-group-item-text">
						<%= event.start_time.strftime('%Y/%m/%d %H:%M') %> - <%= event.end_time.strftime('%Y/%m/%d %H:%M') %>
					</p>
				<% end %>
			<% end %>
			<%= will_paginate @events %>
		</div>
	</div>
	<div class="col-md-4">
		<%= link_to 'イベントを作成する', new_event_path, class: 'btn btn-info btn-lg btn-block' %>
		<br>
	<%= search_form_for @search do |f| %>
		<%= f.label :name, '検索(タイトル)' %>
		<%= f.text_field :name_cont %>
		
		<%= f.label :start_time, '検索(開催日)' %>
		<br>
		<%= f.date_select :start_time_gteq, {use_month_numbers: true, start_year: now.year, end_year: now.year + 1, prompt: true}, {class: "bootstrap-date form-control"} %>
		 〜 <br>
		<%= f.date_select :end_time_lteq, {use_month_numbers: true, start_year: now.year, end_year: now.year + 1, prompt: true}, {class: "bootstrap-date form-control"} %>
		<%= f.submit '検索する', class: 'btn btn-primary btn-lg btn-block' %>
	<% end %>
	</div>
</div>